<h1 class="page-title"><%= t("header.funds") %></h1>

<div class="panel panel-default">
  <div class="panel-body panel-currencies">

    <div class='row'>
      <!-- <div class='col-xs-8'>

        <div class="currencies-container">
          <accounts></accounts>
        </div>
      </div> -->

      <div class='col-xs-16'>
        <div class="details-container">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path(:data=> params[:data]) %>"
      })
    });
  </script>
  <script type="text/javascript" charset="utf-8">
	$(window).load(function(){
		<% if params[:data] == 'deposits' %>
			console.log("deposits")
			$('#adk').attr('href', "#/deposits/adk");
			$('#btc').attr('href', "#/deposits/btc");
		<% elsif params[:data] == "withdraws" %>
			$('#adk').attr('href', "#/withdraws/adk");
			$('#btc').attr('href', "#/withdraws/btc");
		<% end %>
		
	});
		
  </script>
<% end %>
<script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      <%if params[:data] == 'deposits'%>
        console.log('deposits')
        $('#btc').parent().removeClass('active');
        $('#adk').parent().addClass('active');
        // $('#deposits').click();
        window.location = "/funds?data=deposits#/deposits/adk?"
      <%elsif params[:data] == 'withdraws' %>
      console.log('withdraw')
      $('#btc').parent().removeClass('active');
      $('#adk').parent().addClass('active');
        // $('#withdraw').click();
        window.location = "/funds?data=withdraws#/withdraws/adk"
      <% end %>
    });
  </script>
