
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #062d4a;
	overflow-x: hidden;
}
*, ul{
	margin:0px;
	padding:0px;
}
:focus{
	outline: none;
}
#control{
	width: 100vw;
}
#main{
	width: calc(100vw - 16vw);
    float: right;
    background: #062d4a;
    margin-left: 17vw;
}
.top_bar{
	background: #38576e;
	width:100%;
	float:left;
	padding: 0 20px;
}
.top_bar ul li{
	list-style: none;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    width: 19%;
    text-align: center;
    line-height: 24px;
	position: relative;
}
.top_bar ul li.blue i{
 	font-size: 18px;
    position: relative;
    top: 7px;
    right: 6px;
    color: #268cff;
}
.top_bar ul li.blue span{
    color: #268cff;
}
.top_bar ul li.yellow i{
	color:#ffbd1a;
	    font-size: 18px;
    position: relative;
    top: 0;
    right: 6px;
 }
 .top_bar ul li.yellow span{
	color:#ffbd1a;	
 }
 .top_bg_box{
    position: relative;
    top: 12px;
    color: #fff;
}
.btn_new{border-radius: 20px;}
.login{
 	background: #062d4a;
    min-height: 83vh;
    float: left;
	width:100%;
}
.top_space{
	margin-top: 35px;
	margin-bottom: 0px;
}
.login h1{
		font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.main_box{
	/*padding-top:95px;*/
}
.login_con{
	padding: 35px 0px;
    background: #fff;
    text-align: center;
    max-width: 396px;
    margin: auto;
    border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	
    margin-top: 22px;
}
.login_con input[type="text"]{
	width: 250px;
    height: 33px;
    border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    border: 1px solid #b7b7b7;
    padding: 19px;
}
.login_con input[type="password"]{
	width: 250px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid #b7b7b7;
    padding: 19px;
 }
 /* CHanges added button 11/11/20117 starts */
.login_con input[type="submit"]{
    background: #158dff;
    border: none;
    color: #fff;
    padding: 7px 0;
    width: 61%;
    margin: 24px auto 0px auto;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
 }
  /* CHanges added button 11/11/20117 ends */

 .main_box > .text-center{
	 color: #fff;
 }
#top_bg{
	background:#08375c;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    height: 54px;
}
.navbar-nav>li {
    float: none !important;
    padding-left: 30px;
    padding: 12px 48px;
}
.navbar-default {
    background-color: #158dff;
    border-color: #e7e7e7;
    width: calc(100vw - 84vw);
    float: left;
    height: 100%;
}
.navbar-nav li.active{
	background: #062d4a;
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
}
.logout{
    width: 100%;
    position: relative;
    top: -22px;
}
footer{
	background: #08375c;
    line-height: 34px;
    padding: 0px 20px;
    color: #fff;
    font-size: 12px;
    position: fixed;
	bottom: 0;
	width: 85%;
 }
footer ul{
	text-align: right;
    float: right;
}
footer ul li{
	list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
footer a {
    color: #fff;
}
footer a:hover{
    color: #fff;
	text-decoration: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
     color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	    color: #fff !important;
}
.arrow-up {
  width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #158dff;
    position: absolute;
    left: 45px;
    top: 10px;
}

.arrow-down {
      width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffbd1a;
    position: absolute;
    top: 9px;
    left: 44px;
}
.navbar-brand>img {
    display: none;
}
.logo img{
 		margin-top: 32px;
		width: 100%;
}
#content, #guide{margin-left: 10%;}

@media (min-width: 768px){
	.navbar-brand{
		display:none;
	}
	.navbar-nav>li {
		float: none !important;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-weight: 300;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		background: #158dff;
    border: none;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff !important;
	}	
	.navbar-nav>li {
		padding: 12px 31px;
	}
}
@media (width: 768px){
	.navbar-default .navbar-collapse{
		height: 100vh !important;
		width: 20vw;
		max-height: 100% !important;
	}
	.navbar-nav {
		width: 100% !important;
 	}
	.logo {
		width: 100% !important;
		    margin-left: 18px;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		padding-left: 0;
		font-size: 15px;
	}
	#main {
		width: 80vw !important;
	}
}
@media (max-width: 768px){
	.navbar-brand>img {
		display: block;
		width: 29%;
		top: -13px;
		position: relative;
	}
	.logo{
		width: 20%;
		float: left;
	}
	
	.navbar-nav{
		    width: 70%;
		float: left;
	}
	.navbar-default {   
		float: left;
		height: 20px;
		width:100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: none;
		background: #158dff;
	}
	#main {
		width: 100%;
		    margin-top: 50px;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
	}
}
@media (max-width: 590px){
	.logo{
		display:none;
	}
	.navbar-nav {
		width: 100%;
		float: left;
		margin: 0px;
	}
	footer ul {
		float: left;
	}
	footer ul li {
		display: block;
		text-align: left;
		 width: 45%;
		float: left;
	}
}

@media (max-width: 320px){
	.top_bar {
		padding: 0;
	}
}