.content-wrapper section.content {
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
}

section.content .tabs-menu{
  margin:0 auto;
  background: #062d4a;
}

section.content .tabs-menu nav a{
  text-decoration:none;
  cursor:pointer;
  color: #fff;
}

section.content .tabs-menu{
  max-width:920px;
}


@media screen and (max-width: 399px) {
  .content, section.content .tabs-menu{width:350px;}
  .wrapper div img{height:200px;}
 .tabs-menu nav li h2 {
    display:none;
  }
  .tabs-menu nav li span{
    margin:20px auto;
  }
  
}
@media screen and (min-width: 400px) and (max-width: 699px) {
  .content, section.content .tabs-menu{width:400px;}
  .tabs-menu nav li h2 {
    display:none;
  }
  .tabs-menu nav li span{
    margin:20px auto;
  }
}
@media screen and (min-width: 700px) and (max-width: 899px) {
  .content, section.content .tabs-menu{width:700px;}
  
}
@media screen and(min-width: 900px) {
  .content, section.content .tabs-menu{width:900px;}
  
}

@media (max-width: 767px){
	.main-sidebar {
		padding-top: 150px;
	}
}
h2{
  margin:0;
  padding:0;
}



section.content .tabs-menu nav ul{
  width:100%;
  height: auto;
  margin-left: 30px;
}

section.content .tabs-menu nav{
  width:100%;
  height:30px;
  margin: 0 auto;
  overflow:hidden;
}

section.content .tabs-menu ul {
  list-style: none;
  padding: 0;
}
section.content .tabs-menu nav li {
  float: left;
  height: 120px;
  margin: 5px 3px;
  padding: 0 20px;
  position: relative;
  background: #0e5da5;
  border-radius: 20px;
}
section.content .tabs-menu nav li:first-child{margin-left:0;}

section.content .tabs-menu nav li a{ color: #c0c1c2;}
section.content .tabs-menu nav li.active a{ color: #fff;}

section.content .tabs-menu nav li.active {
  background: #158dff;
}



section.content .tabs-menu .content{
  clear:both;
  overflow: hidden;
  border:5px solid white;
  border-radius: 30px;
  z-index:10;
  width:100%;
  height:auto;
  background:white;
  padding: 20px;
}
section.content .tabs-menu .wrapper{
  z-index:5;
  position: relative;
  left:0;
}
section.content .tabs-menu .wrapper div{
  position:relative;
  
  z-index:1;
  
}

#funds-index .content-wrapper #tab_container .details-container .input-group {
	display: table-cell;
}

#funds-index .content-wrapper #tab_container .details-container .input-group  .input-group-addon {
	border-right: 1px solid #d2d6de;
}




